In [15]:
from sqlalchemy import create_engine,text

# Replace with your actual local MySQL credentials
username = "root"           # or whatever username you use
password = "aman"   # replace with your actual password
host = "localhost"
port = 3306
database = "HR"  # must exist already

# Create connection string
engine = create_engine(f"mysql+pymysql://{username}:{password}@{host}:{port}/{database}")

# Test connection by running a simple query
with engine.connect() as connection:
    result = connection.execute(text("SELECT NOW();"))
    for row in result:
        print("Connected. Current Time:", row[0])

Connected. Current Time: 2025-07-17 12:09:23

In [1]:
import pymysql
pymysql.install_as_MySQLdb()

In [16]:
import pandas as pd

# Step 1: Read from Excel
df = pd.read_excel(r'C:/Users/Aman Kumar/Downloads/Ex_Files_ETL_Python_SQL/Ex_Files_ETL_Python_SQL/Exercise Files/Chapter_2/H+ Sport Customers.xlsx')

# Step 2: Load into MySQL
df.to_sql("customers", con=engine, if_exists="append", index=False)

print("✅ Data loaded into MySQL table 'customers'.")

✅ Data loaded into MySQL table 'customers'.

In [17]:
df = pd.read_sql("SELECT * FROM customers", con=engine)
print(df.head())

   CustomerID  FirstName LastName                 Email          Phone  \
0         100      Carol     Shaw        cshaw0@mlb.com  (206)804-8771
1         101  Elizabeth     Carr     ecarr1@oracle.com  (512)187-2507
2         102     Ernest    Ramos   eramos2@plala.or.jp  (816)540-4257
3         103       Jane   Carter  jcarter3@harvard.edu  (214)839-0542
4         104     Martha   Cooper       mcooper4@go.com  (727)235-5696

                  Address         City State Zipcode
0     8157 Longview Court      Seattle    WA   98121
1     3934 Petterle Trail       Austin    TX   78732
2  8699 Clarendon Terrace  Kansas City    MO   64199
3        2830 Novick Lane       Irving    TX   75037
4         4537 Hoard Lane        Tampa    FL   33625